@model UserLogin.Models.TblUserDetail
@{
    ViewData["Title"] = "Dashbord";
}

<h1>Dashbord &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;  <a asp-controller="Home" asp-action="Logout"> Logout</a></h1>
<h2>Thank you for login </h2>




<h1><a asp-controller="Image" asp-action="Create"> Create an Entry Form</a></h1>








