@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to User app</h1>
    <h4 class="display-6">Please Login to App</h4>
    <p> <a href="https://localhost:7154/Home/Login">Login</a>.</p>
</div>
